<div class="container flex">
  <div class="top">
    <div class="top-box flex">
      <p>
        Le site qui vous permet de trouver la destination idéale pour vos
        prochaines vacances !
      </p>
      <button class="button teal" [routerLink]="['/search']">
        Je découvre ma destination idéale
      </button>
    </div>
  </div>

  <div class="bottom">
    <div class="cardContainerByCategory flex">
      <h3>Plongez dans la magie du Printemps !</h3>

      <div class="cardContainer flex">
        <div *ngFor="let destination of springdestinations">
          <img [src]="destination.image" alt="{{ destination.name }}" />
        </div>
      </div>

      <h3>Plaisirs en famille : des destinations pour petits et grands !</h3>

      <div class="cardContainer flex">
        <div *ngFor="let destination of familydestinations">
          <img [src]="destination.image" alt="{{ destination.name }}" />
        </div>
      </div>

      <h3>Prêts pour l'aventure ?</h3>

      <div class="cardContainer flex">
        <!-- <div *ngFor="let destination of familydestinations">
          <img [src]="destination.image" alt="{{ destination.name }}" />
        </div> -->
      </div>
    </div>
  </div>
</div>
