<div class="container flex">
  <div class="top">
    <h2>Le projet</h2>

    <p>
      Dans le cadre de notre formation POEC JAVA, nous sommes amenés à
      développer un projet informatique qui nous permettra d’appliquer les
      connaissances acquises, principalement sur les technologies Java et
      Angular.
    </p>

    <h3>Objectif</h3>
    <p>
      Avec cette application web, nous avons pour objectif de proposer une
      plateforme qui permettra à un utilisateur d’obtenir des suggestions de
      destinations de voyage personnalisées. Cette génération se fera à la suite
      d’un formulaire simple à remplir par l’utilisateur sous forme de sélection
      de ses préférences. Cette application web permettra également à
      l’utilisateur de visualiser les fiches de chaque destination afin
      d'obtenir plus de détails et de faciliter le choix et l’organisation de
      leur futur voyage.
    </p>
  </div>
  <div class="bottom">
    <h2>L'équipe</h2>
    <p>
      Notre équipe est composée de 4 développeurs juniors, tous issus de la
      formation POEC JAVA. Nous avons tous des profils différents, ce qui nous
      permet de nous compléter et de travailler de manière efficace. Nous sommes
      tous motivés et enthousiastes à l’idée de travailler sur ce projet et de
      le mener à bien.
    </p>

    <div class="cardContainer flex">
      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/ammaria.png"
            alt="Ammaria Hellou"
          />
          <h4>Ammaria <br />Hellou</h4>
        </div>

        <div class="icons flex">
          <a href="https://www.linkedin.com/in/ammaria-hellou-5ba85414a/">
            <img src="../../assets/img/linkedin.png" alt="linkedin" />
          </a>
          <a href="https://github.com/ammariahl">
            <img src="../../assets/img/github.png" alt="portfolio" />
          </a>
          <a href="ammariahellou@gmail.com">
            <img src="../../assets/img/email.png" alt="mail" />
          </a>
        </div>
      </div>
      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/azrael.png"
            alt="Azraël Landres"
          />
          <h4>Azraël <br />Landres</h4>
        </div>

        <div class="icons flex">
          <a href="https://www.linkedin.com/in/azraellandres/">
            <img src="../../assets/img/linkedin.png" alt="linkedin" />
          </a>
          <a href="https://github.com/AzraeLandres">
            <img src="../../assets/img/github.png" alt="portfolio" />
          </a>
          <a href="azraellandres.pro@gmail.com">
            <img src="../../assets/img/email.png" alt="mail" />
          </a>
        </div>
      </div>

      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/malsha.jpeg"
            alt="Sudanee Malsha"
          />
          <h4>Sudanee Malsha <br />Nuwarapaksha Hewayalag</h4>
        </div>
        <div class="icons flex">
          <a href="https://www.linkedin.com/in/malsha-sinhalage-977406197/">
            <img src="../../assets/img/linkedin.png" alt="linkedin" />
          </a>
          <a href="https://github.com/Nmalsha">
            <img src="../../assets/img/github.png" alt="portfolio" />
          </a>
          <a
            href="malshis@yahoo.com
          "
          >
            <img src="../../assets/img/email.png" alt="mail" />
          </a>
        </div>
      </div>
      <div class="card">
        <div class="up">
          <img
            class="cardImg"
            src="../../assets/img/clement.jpeg"
            alt="Clément Coudrin"
          />
          <h4>Clément <br />Coudrin</h4>
        </div>

        <div class="icons flex">
          <a href="https://www.linkedin.com/in/cl%C3%A9ment-coudrin-9b9b79106/">
            <img src="../../assets/img/linkedin.png" alt="linkedin" />
          </a>
          <a href="https://github.com/Kwett">
            <img src="../../assets/img/github.png" alt="portfolio" />
          </a>
          <a href="">
            <img src="../../assets/img/email.png" alt="mail" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
