.container {
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.top,
.bottom {
  width: 90%;
}

h2 {
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  margin: 1rem auto;
  font-weight: 600;
}

h3 {
  font-family: "Nunito Sans";
  font-size: 1.2rem;
  margin: 1rem auto;
  font-weight: 500;
}

p,
h4 {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
}
.cardContainer {
  margin-top: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 1rem;
  background-color: var(--grey);
  width: 17rem;
  border-radius: 10px;
}

.up {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cardImg {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  gap: 1rem;
  justify-content: flex-start;
}
.icons img {
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
  cursor: pointer;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 15rem;
  }
}
