section {
  height: 100%;
}

.header {
  background-color: var(--grey);
  border-radius: 1rem;
  margin: 20px auto;
  width: 90%;
  height: 50%;
}

.header h1 {
  font-size: 3rem;
  color: var(--black);
  font-family: "Zen Loop", cursive;
}

.img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.shortInfos {
  padding: 20px;
}

.shortInfos p {
  font-size: 1.2rem;
  color: var(--black);
  margin-bottom: 7px 0;
}

.documents {
  padding: 0 20px;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  width: 1.2rem;
  margin: 0 10px;
}

.documents p {
  color: var(--black);
  font-size: 1.2rem;
}

.description {
  padding: 20px;
}
