.divContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  box-sizing: border-box;
}

.suggestion-title {
  color: black;
  text-align: center;
}

.preferences_options {
  display: flex;
  justify-content: space-around;
}

button {
  color: white;
  padding: 1%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 2%;
}

button:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.preferences_button_1 {
  background-color: #76d16a;
}

.preferences_button_2 {
  background-color: #d1746a;
}

.preferences_button_3 {
  background-color: #e9c757;
}

.preferences_button_4 {
  background-color: #6ad1ce;
}
