.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8%;
}

.timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

.timelinePreferenceInitialization {
  color: grey;
}

.timelinePreferenceSelected {
  color: var(--darkBlue);
}

@media (min-width: 768px) {
  /* pointillés après timeline-step (sauf le dernier) */
  .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #2e89b6;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  /* pointillés avant timeline-step (sauf le premier) */
  .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #2e89b6;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.timeline-content {
  width: 10rem;
  text-align: center;
}

/* timeline : cercle interne */
.inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2e89b6;
  cursor: pointer;
}

/* timeline : grand cercle */
.inner-circle:before {
  content: "";
  background-color: #2e89b6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6rem;
  opacity: 0.5;
}

.divContainer {
  display: flex;
}

.suggestion-title {
  color: black;
  text-align: center;
}

.preferences_options {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  margin: 8%;
}

button {
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 3%;
  width: 80%;
  height: 70%;
}

button:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.preferences_button_1 {
  grid-column-start: 1;
  background-color: #76d16a;
}

.preferences_button_2 {
  grid-column-start: 2;
  background-color: #d1746a;
}

.preferences_button_3 {
  grid-column-start: 1;
  background-color: #e9c757;
}

.preferences_button_4 {
  grid-column-start: 2;
  background-color: #6ad1ce;
}

.send-button {
  background-color: #2eb67d;
  color: white;
  padding: 1%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  margin: 2%;
  width: 25%;
}

.send-button:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.border {
  border: 2px solid gray;
}
