<div class="timeline-steps">
  <div class="timeline-step">
    <div class="timeline-content">
      <div class="inner-circle" (click)="previous(1)"></div>
      <p class="timelinePreferenceInitialization" *ngIf="questionNumber == 1">
        Periode
      </p>
      <p class="timelinePreferenceSelected">
        {{ seasonTimeline }}
      </p>
    </div>
  </div>
  <div class="timeline-step">
    <div class="timeline-content">
      <div class="inner-circle" (click)="previous(2)"></div>
      <p class="timelinePreferenceInitialization" *ngIf="questionNumber < 3">
        Climat
      </p>
      <p class="timelinePreferenceSelected">
        {{ climatTimeline }}
      </p>
    </div>
  </div>
  <div class="timeline-step">
    <div class="timeline-content">
      <div class="inner-circle" (click)="previous(3)"></div>
      <p class="timelinePreferenceInitialization" *ngIf="questionNumber < 4">
        Budget
      </p>
      <p class="timelinePreferenceSelected">
        {{ budgetTimeline }}
      </p>
    </div>
  </div>
  <div class="timeline-step">
    <div class="timeline-content">
      <div class="inner-circle" (click)="previous(4)"></div>
      <p class="timelinePreferenceInitialization" *ngIf="questionNumber < 5">
        Activité
      </p>
      <p class="timelinePreferenceSelected">
        {{ activityTimeline }}
      </p>
    </div>
  </div>
  <div class="timeline-step">
    <div class="timeline-content">
      <div class="inner-circle"></div>
      <p class="timelinePreferenceInitialization" *ngIf="questionNumber < 6">
        Documents
      </p>
    </div>
  </div>
</div>

<div id="divContainer">
  <span *ngIf="questionNumber == 1">
    <h2 class="suggestion-title">Je souhaite voyager en ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('spring')"
      >
        {{ seasonButtomName[0] }}
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('summer')"
      >
        {{ seasonButtomName[1] }}
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('autumn')"
      >
        {{ seasonButtomName[2] }}
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('winter')"
      >
        {{ seasonButtomName[3] }}
      </button>
    </div>
  </span>

  <span *ngIf="questionNumber == 2">
    <h2 class="suggestion-title">Plutôt ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('chaud')"
      >
        {{ climatButtomName[0] }}
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('froid')"
      >
        {{ climatButtomName[1] }}
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('doux')"
      >
        {{ climatButtomName[2] }}
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('peu_importe')"
      >
        {{ climatButtomName[3] }}
      </button>
    </div>
  </span>

  <span *ngIf="questionNumber == 3">
    <h2 class="suggestion-title">Mon budget ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('little_budget')"
      >
        {{ budgetButtomName[0] }}
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('medium_budget')"
      >
        {{ budgetButtomName[1] }}
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('big_budget')"
      >
        {{ budgetButtomName[2] }}
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('unlimited')"
      >
        {{ budgetButtomName[3] }}
      </button>
    </div>
  </span>

  <span *ngIf="questionNumber == 4">
    <h2 class="suggestion-title">Je voyage ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('relaxing')"
      >
        {{ activitiesButtomName[0] }}
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('adventure')"
      >
        {{ activitiesButtomName[1] }}
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('groupactivity')"
      >
        {{ activitiesButtomName[2] }}
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('family')"
      >
        {{ activitiesButtomName[3] }}
      </button>
    </div>
  </span>

  <span *ngIf="questionNumber == 5">
    <h2 class="suggestion-title">Je possède ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('cniUe')"
        onclick="this.style.border = '2px solid gray'"
      >
        {{ documentsButtomName[0] }}
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('passeportUe')"
        onclick="this.style.border = '2px solid gray'"
      >
        {{ documentsButtomName[1] }}
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('visaUe')"
        onclick="this.style.border = '2px solid gray'"
      >
        {{ documentsButtomName[2] }}
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('passeportMde')"
        onclick="this.style.border = '2px solid gray'"
      >
        {{ documentsButtomName[3] }}
      </button>
    </div>
    <div class="send" [style.visibility]="!isSend ? 'visible' : 'hidden'">
      <button
        class="send-button"
        (click)="sendSearchDestinationForm()"
        [routerLink]="[
          '/api/destinations/top',
          season,
          climat,
          budget,
          activity,
          documents
        ]"
      >
        Valider
      </button>
    </div>
  </span>
</div>
