<div id="divContainer">
  <h2 class="suggestion-title">Je souhaite voyager en ...</h2>
  <div class="preferences_options">
    <button
      class="preferences_button_1"
      (click)="preferencesSelection('printemps')"
    >
      Printemps
    </button>
    <button class="preferences_button_2" (click)="preferencesSelection('ete')">
      Ete
    </button>
    <button
      class="preferences_button_3"
      (click)="preferencesSelection('automne')"
    >
      Automne
    </button>
    <button
      class="preferences_button_4"
      (click)="preferencesSelection('hivers')"
    >
      Hivers
    </button>
  </div>
</div>
