<div id="divContainer">
  <span
    *ngIf="
      !isSeasonSend &&
      !isClimatSend &&
      !isBudgetSend &&
      !isActivitySend &&
      !isDocumentSend
    "
  >
    <h2 class="suggestion-title">Je souhaite voyager en ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('spring')"
      >
        Printemps
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('summer')"
      >
        Ete
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('autumn')"
      >
        Automne
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('winter')"
      >
        Hivers
      </button>
    </div>
  </span>
  <span
    *ngIf="
      isSeasonSend &&
      !isClimatSend &&
      !isBudgetSend &&
      !isActivitySend &&
      !isDocumentSend
    "
  >
    <h2 class="suggestion-title">Plutôt ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('chaud')"
      >
        Chaud
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('froid')"
      >
        Froid
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('doux')"
      >
        Doux
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('peuimporte')"
      >
        Peu importe
      </button>
    </div>
  </span>
  <span
    *ngIf="
      !isSeasonSend &&
      isClimatSend &&
      !isBudgetSend &&
      !isActivitySend &&
      !isDocumentSend
    "
  >
    <h2 class="suggestion-title">Mon budget ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('littleBudget')"
      >
        500€
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('mediumBudget')"
      >
        1000€
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('bigBudget')"
      >
        1500
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('unlimited')"
      >
        No limit !
      </button>
    </div>
  </span>

  <span
    *ngIf="
      !isSeasonSend &&
      !isClimatSend &&
      isBudgetSend &&
      !isActivitySend &&
      !isDocumentSend
    "
  >
    <h2 class="suggestion-title">Je voyage ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('relaxing')"
      >
        Pour me relaxer
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('adventure')"
      >
        Pour l'aventure
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('groupactivity')"
      >
        Entre amis
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('family')"
      >
        En famille
      </button>
    </div>
  </span>

  <span
    *ngIf="
      !isSeasonSend &&
      !isClimatSend &&
      !isBudgetSend &&
      isActivitySend &&
      !isDocumentSend
    "
  >
    <h2 class="suggestion-title">Je possède ...</h2>
    <div class="preferences_options">
      <button
        class="preferences_button_1"
        (click)="preferencesSelection('cniUe')"
        onclick="this.style.border = '2px solid gray'"
      >
        Carte d'identité UE
      </button>
      <button
        class="preferences_button_2"
        (click)="preferencesSelection('passeportUe')"
        onclick="this.style.border = '2px solid gray'"
      >
        Passeport UE
      </button>
      <button
        class="preferences_button_3"
        (click)="preferencesSelection('visaUe')"
        onclick="this.style.border = '2px solid gray'"
      >
        Visa UE
      </button>
      <button
        class="preferences_button_4"
        (click)="preferencesSelection('passeportMde')"
        onclick="this.style.border = '2px solid gray'"
      >
        Passeport MDE
      </button>
    </div>
    <div class="send" [style.visibility]="!isSend ? 'visible' : 'hidden'">
      <button
        class="send-button"
        (click)="sendSearchDestinationForm()"
        [routerLink]="['/suggestion']"
      >
        Valider
      </button>
    </div>
  </span>
</div>
