<nav id="myFirst" class="flex">
  <div class="logoContainer">
    <a routerLink="/home"> <img src="../../assets/img/Logo.svg" alt="" /></a>
  </div>
  <div class="burger" (click)="toggleMenu()">
    <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
  </div>
  <div class="linksContainer menu flex" [class.is-open]="isMenuOpen">
    <a [routerLink]="['/random']" class="menu-item flex">Aléatoire</a>
    <a [routerLink]="['/about']" class="menu-item flex">À propos</a>
    <div class="menu-item">
      <button class="button red" [routerLink]="['/search']">
        Trouver ma destination
      </button>
    </div>
  </div>
</nav>
