<div id="divContainer">
  <div class="textContainer">
    <h2>Oups... Aucune destination trouvée</h2>
    <h3>Nous travaillons dur pour vous proposer de nouvelles destinations !</h3>
    <h3>
      Vous pouvez relancer une nouvelle recherche ou bien parcourir l'ensemble
      des destinations que nous proposons :
    </h3>
  </div>

  <div class="preferences_options">
    <button class="new_search_button red" [routerLink]="['/search']">
      Relancer ma recherche
    </button>
    <button class="find_all_button green" [routerLink]="['/all']">
      Toutes les destinations
    </button>
  </div>
</div>
