.destination-cards {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  align-items: center;
}

.suggestion-title {
  color: var(--black);
  text-align: center;
}

.destination-card {
  display: flex;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: var(--grey);
  height: 12rem;
  width: 45rem;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-top: 15px;
}

.destination-card:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.destination-left {
  flex: 35%;
}

img {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.destination-right {
  flex: 65%;
}

.destination-content {
  margin: 5%;
  width: 100%;
  height: 100%;
}

.destination-name {
  color: var(--black);
}

.destination-criteria {
  color: var(--black);
}

.destination-name,
.destination-criteria,
.destination-brief-description {
  color: var(--gray);
}

.view-all-button {
  color: var(--white);
  padding: 1.5%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  float: right;
  margin: 2%;
}

.view-all-button:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.view-all {
  justify-content: flex-end;
  margin-right: 2rem;
}

.main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  img {
    object-fit: cover;
  }
  .destination-cards {
    margin-top: 2rem;
    height: 12rem;
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .distination-card {
    height: 12rem;
    width: 80%;
  }
}
