<div class="destination-cards">
  <h1 class="suggestion-title">Choisissez votre destination idéale :</h1>
  <div
    class="distination-card"
    *ngFor="
      let destination of destinationCard
        | slice : 0 : (isViewAll ? destinationCard.length : 3)
    "
    (click)="showDestinationCard()"
  >
    <div class="destination-left">
      <img [src]="destination.image" />
    </div>
    <div class="destination-right">
      <div class="destination-content">
        <h2 class="destination-name">{{ destination.name }}</h2>
        <h4 class="destination-criteria">
          {{ destination.periode }} - {{ destination.budget }} -
          {{ destination.climat }} - {{ destination.activity }} -
          {{ destination.documents }}
        </h4>
        <p class="destination-brief-description">
          {{ destination.briefDescription }}
        </p>
      </div>
    </div>
  </div>

  <div class="view-all" [style.visibility]="!isViewAll ? 'visible' : 'hidden'">
    <button class="view-all-button" (click)="viewAll()">
      Voir d'autres destinations
    </button>
  </div>
</div>
