:root {
  --black: #363636;
  --white: white;
  --grey: #f5f5f5;

  --darkGreen: #77bb56;
  --lightGreen: #9de99b;
  --darkRed: #f66867;
  --lightRed: #fd9b86;
  --darkYellow: #eec32d;
  --lightYellow: #f6eea6;
  --darkTeal: #27bab6;
  --lightTeal: #aaeaea;
  --darkBlue: #67a0f6;
  --lightBlue: #9dd1f6;
}
